.blog-post__header {
    margin: auto 200px;
    height: 170px; 
    display: flex;
    flex-direction: row;
    justify-content: space-between;  
}

.blog-post__header-title, .nav {
    display: inline-block;
    vertical-align: top;
    margin-top: 65px;
}

.blog-post__header-title {   
    font-size: 42px;
    line-height: 25px;
    font-weight: bold;
    font-style: italic;
    color: #333333;
}

.blog-post__nav {
    padding-left: 0px;
    list-style: none;
    display: flex;
    flex-direction: row;
}

.nav__item {
    margin-right: 35px;
}

.nav__item:last-child {
    margin-right: 0;
}

.nav__link {
    display: inline-block;
    font-size: 16px;
    line-height: 25px;
    font-weight: bold;
    text-transform: uppercase;
    color: #333333;
    text-decoration: none;
    position: relative;
}

.nav__link:disabled {
    color: #bdbdbd;
}

.nav__link:before {
    content: '';
    position: absolute;
    bottom: -7px;
    left: 100%;
    right: 0;
    height: 3px;
    background-color: #5c6bc0; 
    transition: left 0.3s;
}

.nav__link:hover:before {
    left: 0; 
}

.nav__link:active:before {
    height: 0px;
    color: #5c6bc0;
}

.blog-post__header-search {
    display: flex;
    height: 22px;
    width: 22px;
    background: url(../images/header_Search_normal.png) center no-repeat;
}

.blog-post__header-search:hover {
    background: url(../images/header_Search_hover.png) center no-repeat;
}

.blog-post__header-search:disabled {
    background: url(../images/header_Search_inactive.png) center no-repeat;
}

@media screen and (max-width: 480px) {
    .blog-post__header {
        margin: auto 15px;
    } 

    .blog-post__nav {
        flex-direction: column;
        margin-top: 50px;
    }

    .nav__item {
        margin-top: 0;
        height: 10px;
    }

    .nav__link {
        font-size: 0;
        line-height: 0px;
    }

    .nav__link:before {
        bottom: -0.5px;
        width: 35px;
        height: 2px;
    }

    .home, .blog-post__header-search {
        display: none;
    }
}

