<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>7bits frontend courses homework weeks 4-5</title>
    <link rel="stylesheet" href="../styles/main.css">
    <link href="https://fonts.googleapis.com/css?family=Lato:400,400i,700,700i" rel="stylesheet">    
</head>
<body>
  <div class="header">
      <h1 class="header_title">Palo Alto</h1>
      <ul class="nav">
          <li class="nav_item"><a class="nav_link" href="#">home</a></li>
          <li class="nav_item"><a class="nav_link" href="#">about</a></li>
          <li class="nav_item"><a class="nav_link" href="#">archive</a></li>
          <li class="nav_item"><a class="nav_link" href="#">contact</a></li>
          <li class="nav_item"><a class="header_search" href="#"></a></li>
      </ul>
  </div> 
  <div class="main travel">
      <a class="label" href="#">I Do Travel</a>
      <h2 class="date">Sep 20</h2>
      <h3 class="main_title">No difference how many peaks you reach if there was no pleasure in the climb.</h3>
      <p class="main_text">Quisque congue lacus mattis massa luctus, nec hendrerit purus aliquet. Ut ac elementum urna. Pellentesque suscipit metus et egestas congue. Duis eu pellentesque turpis, ut maximus metus. Sed ultrices tellus vitae rutrum congue. Fusce luctus augue id nisl suscipit, vel sollicitudin orci egestas.  Morbi posuere venenatis ipsum, ac vestibulum quam dignissim efficitur. Ut vitae rutrum augue, in volutpat quam. Cras a viverra ipsum. Aenean ut consequat ex, vitae vulputate nunc. Vestibulum metus nisi, aliquam sed tincidunt sit amet, pretium et augue.</p>
      <a class="button" href="#">read more</a>
      <ul class="hashtag">
          <li class="hash_item"><a class="hash_link">#Yosemite</a></li>
          <li class="hash_item"><a class="hash_link">#Peak</a></li>
          <li class="hash_item"><a class="hash_link">#Explorer</a></li>
      </ul>
  </div>
  <div class="main observe">
      <p class="observe_header">
          <img class="observe_image" src="../images/observe_img.jpg" />
      </p>
      <a class="label label_observe" href="#">I Do Observe</a>
      <h2 class="date">Sep 18</h2>
      <h3 class="main_title">You know, I'd rather argue with you, then laugh with anyone else.</h3>
      <p class="obcerve_text">Curabitur luctus placerat lorem id eleifend. Nulla ac lacus finibus, tempor velit hendrerit, vulputate lacus. Nunc fermentum nunc sem, ac eleifend tellus cursus nec. Donec a euismod est, vitae accumsan purus. Proin aliquet ex massa, ac finibus magna commodo vitae. </p>
      <p class="main_text">Quisque congue lacus mattis massa luctus, nec hendrerit purus aliquet. Ut ac elementum urna. Pellentesque suscipit metus et egestas congue. Duis eu pellentesque turpis, ut maximus metus. Sed ultrices tellus vitae rutrum congue. Fusce luctus augue id nisl suscipit, vel sollicitudin orci egestas. Morbi posuere venenatis ipsum, ac vestibulum quam dignissim efficitur. Ut vitae rutrum augue, in volutpat quam. Cras a viverra ipsum. Aenean ut consequat ex, vitae vulputate nunc. Vestibulum metus nisi, aliquam sed tincidunt sit amet, pretium et augue.</p>
      <p class="main_text">Sed sagittis commodo dolor. Vivamus elementum sem sed sapien bibendum viverra. Curabitur semper scelerisque turpis eu ullamcorper. Morbi tincidunt auctor orci id consequat. Nulla odio mi, iaculis id congue quis, euismod id nisi. In varius congue diam, et viverra lorem bibendum ut.</p>
      <a class="button" href="#">read more</a>
      <ul class="hashtag">
          <li class="hash_item"><a class="hash_link">#Yosemite</a></li>
          <li class="hash_item"><a class="hash_link">#Peak</a></li>
          <li class="hash_item"><a class="hash_link">#Photo</a></li>
      </ul>  
  </div>
  <div class="main reflect">
      <a class="label" href="#">I Do Reflect</a>
      <h2 class="date">Sep 11</h2>
      <h3 class="main_title">Democracy means simply the bludgeoning of the people by the people for the people.</h3>
      <img class="reflect_image" src="../images/reflect_img.png" />
      <p class="main_text">Quisque congue lacus mattis massa luctus, nec hendrerit purus aliquet. Ut ac elementum urna. Pellentesque suscipit metus et egestas congue. Duis eu pellentesque turpis, ut maximus metus. Sed ultrices tellus vitae rutrum congue. Fusce luctus augue id nisl suscipit, vel sollicitudin orci egestas. Morbi posuere venenatis ipsum, ac vestibulum quam dignissim efficitur. Ut vitae rutrum augue, in volutpat quam. Cras a viverra ipsum. Aenean ut consequat ex, vitae vulputate nunc. Vestibulum metus nisi, aliquam sed tincidunt sit amet, pretium et augue.</p>
      <p class="main_text">Mauris sem odio, rhoncus eget euismod sed, pellentesque sit amet felis. Praesent dictum eleifend dui et efficitur. Nunc non orci in neque sodales semper. Etiam euismod volutpat lorem, <a class="text_link" href="...">vestibulum malesuada</a> justo aliquet eget. Nunc lacus ante, varius a euismod eu, finibus commodo erat. Curabitur tincidunt sit amet nunc id interdum. Aliquam augue nisi, venenatis vitae ex at, lobortis fringilla nibh. Proin placerat enim vitae egestas eleifend. Aliquam quis orci dignissim, posuere nibh a, eleifend augue. Cras quis metus nec tortor aliquet ullamcorper. Quisque varius porta metus, ut maximus dolor euismod nec. Suspendisse sit amet feugiat turpis.</p>
      <p class="reflect_text">Curabitur ut leo pulvinar, consectetur magna eu, feugiat purus. Morbi hendrerit lectus turpis, a porttitor velit imperdiet id.</p>
      <p class="main_text">Nunc placerat dolor at lectus hendrerit dignissim. Ut tortor sem, consectetur nec hendrerit ut, ullamcorper ac odio. Donec viverra ligula at quam tincidunt imperdiet. Nulla mattis tincidunt auctor. Nullam scelerisque ante mauris, egestas commodo nisi gravida ultrices. Suspendisse dapibus feugiat tincidunt. Aliquam gravida quam at ipsum sagittis bibendum. </p>
      <a class="button" href="#">read more</a>
      <ul class="hashtag">
          <li class="hash_item"><a class="hash_link">#Democracy</a></li>
          <li class="hash_item"><a class="hash_link">#Introspection</a></li>
      </ul>   
  </div>
  <div class="footer">
      <h4 class="footer_title">Palo Alto</h4>
      <ul class="footer_nav">
          <li class="footer_nav_item"><a class="footer_nav_link" href="#">home</a></li>
          <li class="footer_nav_item"><a class="footer_nav_link" href="#">about</a></li>
          <li class="footer_nav_item"><a class="footer_nav_link" href="#">archive</a></li>
          <li class="footer_nav_item"><a class="footer_nav_link" href="#">contact</a></li>
          <li class="footer_nav_item"><a class="footer_search" href="#"></a></li>
      </ul>
      <p class="footer_text">Nunc placerat dolor at lectus hendrerit dignissim. Ut tortor sem, consectetur nec hendrerit ut, ullamcorper ac odio. Donec viverra ligula at quam tincidunt imperdiet. Nulla mattis tincidunt auctor.</p>
      <p class="allrights">© 2015 - Palo Alto. All Rights Reserved. Designed & Developed by <a class="design" hreh="#">PixelBuddha Team</a></p>
      <ul class="footer_social">
          <li class="social_item"><a class="social_link facebook" href="#"></a></li>
          <li class="social_item"><a class="social_link twitter" href="#"></a></li>
          <li class="social_item"><a class="social_link instagram" href="#"></a></li>
          <li class="social_item"><a class="social_link pinterest" href="#"></a></li>  
      </ul>
  </div>
</body>
</html>
