.blog-post__main {
    margin: 55px 200px 0 200px;
    padding: 40px 95px 60px 98px;
    background: #ffffff;
    box-shadow: 0 0 20px #d4d4d4;
    position: relative;
}

.blog-post__main-title {
    margin: 0 0 35px 0;
    font-size: 40px;
    line-height: 50px;
    font-weight: bold;
    color: #000000;
}

.blog-post__main-text {
    margin-bottom: 30px;
    padding-bottom: 35px;
    font-size: 17px;
    line-height: 30px;
    color: #000000;
    border-bottom: 2px solid #eeeeee;
}

.blog-post__contact-form {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 40px 0 20px;
}

input, textarea {
    display: inline-block;
    height: 50px;
    width: 100%;
    background-color: #f7f9fc;
    margin-bottom: 25px;
    padding-left: 20px;
    border: none;
}

input:first-child, input[type=email] {
    width: 45%;
}

textarea {
    height: 140px;
    vertical-align: top;
}

::placeholder {
    font-size: 20px;
    color:#bcbdbf;
    padding-top: 10px;
}

.blog-post__button {
    display: inline-block;
    margin-left: -30px;
    padding: 15px 30px;
    font-size: 21px;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none;
    color: #5c6bc0;
}

.blog-post__button:hover {
    padding: 14px 29px;
    border: 1px solid #f1f1f1;
}

.blog-post__button:active {
    border: 1px solid #7c89cc;
}

@media screen and (max-width: 480px) {
   
    .blog-post__main {
        margin: 35px 15px 0 15px;
        padding: 45px;
    }

    .blog-post__main-title {
        font-size: 36px; 
    }

    input:first-child, input[type=email] {
        width: 100%;
    }

    textarea {
        height: 165px;
    }
}

@media screen and (max-width: 320px) {

    .blog-post__main {
        padding: 20px;
    }

    .blog-post__main-title {
        font-size: 24px; 
    }

    .blog-post__main-text {
        font-size: 16px;
    }

    ::placeholder {
        font-size: 17px;
    }

    textarea {
        height: 185px;
    }

    .blog-post__button {
        font-size: 20px;
    }
}
