<header class="blog-post__header">
      <h1 class="blog-post__header-title">Palo Alto</h1>
      <ul class="blog-post__nav nav">
          <li class="nav__item"><a class="nav__link home" href="#">home</a></li>
          <li class="nav__item"><a class="nav__link about" href="#">about</a></li>
          <li class="nav__item"><a class="nav__link archive" href="#">archive</a></li>
          <li class="nav__item"><a class="nav__link contact" href="#">contact</a></li>
          <li class="nav__item"><a class="blog-post__header-search" href="#"></a></li>
      </ul>
</header> 